In [1]:
import pandas as pd

In [4]:
employees_df = pd.read_csv('salary.csv')
departments_df = pd.read_csv('department.csv')

In [7]:
merged_df = pd.merge(employees_df, departments_df, on='DID')
merged_df

      Name  EId  Salary  DID    DName   DLocation
0    Alice    1   70000    1       HR  Building A
1      Bob    2   60000    1       HR  Building A
2  Charlie    3   50000    2       IT  Building B
3    David    4   80000    2       IT  Building B
4      Eva    5   90000    3  Finance  Building C

In [13]:
average_salaries = merged_df.groupby('DName')['Salary'].mean().reset_index()

In [14]:
average_salaries.columns = ['Department', 'Average Salary']
average_salaries

  Department  Average Salary
0    Finance         90000.0
1         HR         65000.0
2         IT         65000.0

In [15]:
print(average_salaries)

  Department  Average Salary
0    Finance         90000.0
1         HR         65000.0
2         IT         65000.0